.title-bar{
    background-color: red;
}

.button{
    background-color: red;
}

.button:hover{
    color: #fff;
    background-color: #000;
}

.submit button{
    background-color: red;
}

h1, h2{
    text-align: center;
}
h2{
    margin-top: 2rem;
}
.quote{
   text-align: center;
   margin-top: 3rem;
}

.hero-image{
        background-image: url("../img/hero-concert.jpg"); 
        background-color: #cccccc; 
        height: 15rem; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
li{
    list-style: none;
}

footer li{
    display: inline-block;
}

ul{
    margin: 0;
}
footer{
    padding: 2rem;

}
.bg-black{
    background-color: #000;
    margin-top: 5rem;
}
.card{
    border: 0rem;
}

.card{
    margin-top: 5rem;
}

  